option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: false
    SQLALCHEMY_DATABASE_URI: postgresql://${RDS_USERNAME}:${RDS_PASSWORD}@${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
    SQLALCHEMY_TRACK_MODIFICATIONS: "false"

packages:
  yum:
    python3-devel: []
    postgresql15-devel: []
    postgresql15: []
    gcc: []
    make: []
    libpq-devel: []

container_commands:
  01_install_deps:
    command: "source /var/app/venv/*/bin/activate && pip install --no-cache-dir -r requirements.txt"
  02_run_migrations:
    command: "source /var/app/venv/*/bin/activate && flask db upgrade"
  03_seed_data:
    command: "source /var/app/venv/*/bin/activate && flask seed all"
